# .clang-format - Code formatting configuration for Stratosphere

---
Language: Cpp
BasedOnStyle: LLVM

# Indentation and spacing
IndentWidth: 4
TabWidth: 4
UseTab: Never
IndentCaseLabels: true
IndentPPDirectives: BeforeHash

# Braces placement - Allman style (braces on new lines)
BreakBeforeBraces: Allman
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

# Line breaking
ColumnLimit: 79
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
BreakStringLiterals: true
BreakTemplateDeclarations: Yes

# Alignment
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: Right
AlignOperands: true
AlignTrailingComments: true

# Spacing
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

# Pointers and references
PointerAlignment: Left
ReferenceAlignment: Left
DerivePointerAlignment: false

# Function parameters and arguments
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty

# Include organization
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<[[:alnum:]_]+>'
    Priority: 1
  - Regex: '^<[[:alnum:]_]+\.h>'
    Priority: 2
  - Regex: '^<.*>'
    Priority: 3
  - Regex: '^".*\.hpp"'
    Priority: 4
  - Regex: '^".*\.h"'
    Priority: 5
  - Regex: '.*'
    Priority: 6

# Namespaces
NamespaceIndentation: None
CompactNamespaces: false
FixNamespaceComments: true

# Access modifiers
AccessModifierOffset: -4
IndentAccessModifiers: false

# Constructor initializers
ConstructorInitializerIndentWidth: 4
ConstructorInitializerAllOnOneLineOrOnePerLine: false

# Comments
ReflowComments: true
CommentPragmas: '^ IWYU pragma:'

# Penalties (for line breaking decisions)
PenaltyBreakAssignment: 2
PenaltyBreakBeforeFirstCallParameter: 19
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 60

# Miscellaneous
MaxEmptyLinesToKeep: 2
KeepEmptyLinesAtTheStartOfBlocks: false
Standard: c++20

